img{
    border:20px solid    black;
    width: 80%;
    height:auto;
    margin-left: 29px;
}
body{
    background-color: yellow;   
}
div{
    width:40%;
    padding-top: 2.5%;
    margin:auto;
}
.center{
    text-align: center;
}
h1{
    font-family: 'Vina Sans', cursive, sans-serif;
    font-size:70px;
    margin-bottom: 20px;
    margin-top: 30px;
}
h4{ 
    margin-top: 0px;
    font-family: 'Darumadrop One', cursive;
    font-size: 30px;
    margin-bottom: 0px;
}

    